@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed|Lato"; 

// Put your variable overrides here
//$book-background: white;
$page-background: white;
//$sidebar-background: #0055b9;
//$sidebar-color: white;
$color-border: $color-gray-dark;
 
$color-primary: #0055b9;
$color-text: black;
$font-family-headings: Lato, 'Open Sans';
$font-family-lato: Lato, 'Open Sans';
$font-family-base: 'Open Sans';
$font-size-base: 14px;
$navigation-show : false;
 
$heading-map : ( 
                color: $color-primary, 
                border-bottom: 1px solid $color-primary,
                font-family: $font-family-lato
                );
.page-inner {
  max-width: 1000px  !important; 
  margin: 0px 40px  !important;
  };
  
.comments-section {
  text-align: justify;
  };

.image-wrapper {
  max-width: 50% !important;
 }
                                
//table, th, td {
//   border: 1px solid rgb(0, 185, 180);
//}


//tr:nth-child(even){background-color: rgb(183, 255, 253);}

//tr:hover {background-color: rgb(5, 255, 249);}

//th {
//    padding-top: 12px;
//    padding-bottom: 12px;
//    text-align: left;
//    background-color: rgb(0, 185, 180);
//    color: white;
//}

.markdown-section .glossary-term {
        text-decoration-style: dashed  !important;
        color: rgb(255, 81, 27) !important;
}

//.image-wrapper .about-openminted {
//    text-align: center ;
//    padding: 15px 0px;
//}



@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";