@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed|Lato"; 

// Put your variable overrides here
//$book-background: white;
//$page-background: white;
$color-blue-lighter: lighten( #0055b9, 20% );
//$sidebar-background: $color-blue-lighter;
//$sidebar-background: #0055b9;
$sidebar-background: #fafafa;
//$sidebar-color: white;
$sidebar-color: $color-text;
$color-border: $color-blue-lighter;
$color-headings: #0055b9;
$color-primary: #0055b9;
$color-text: #524f4f;

$font-family-headings: Lato, 'Open Sans';
$font-family-base: 'Open Sans';
$font-size-base: 14px;

$navigation-show : false;

$heading-map : (
font-family: $font-family-headings,
color: $color-text,
margin-top: 60px
);

$font-size-h1						: 2.5rem;
$font-size-h2						: 2rem;
$font-size-h3						: 1.6rem;
$font-size-h4						: 1.2rem;
$font-size-h5						: 1rem;
$font-size-h6						: 0.9rem;

//.book-summary {
// color: white !important;
// font-family: $font-family-headings !important;
// };

.book-summary {
border-right: none  !important;
}

$search-input-wrapper-map           : ( 
                                        background: $sidebar-background,
                                        border-bottom: 1px solid $color-border,
                                        color: $sidebar-color
);

$sidebar-header-map : (
color: $sidebar-color,
text-transform: uppercase,
font-family: $font-family-headings
);

$sidebar-header-selected-map : ( color: $sidebar-color);

$sidebar-link-map : (
 color: $sidebar-color,
 font-family: $font-family-base
 );

$sidebar-link-hover-map : (
 color: $sidebar-color,
 text-decoration: none
);

.page-inner {
max-width: 1000px !important;
margin: 0px 40px !important;
};

.comments-section {
text-align: justify;
};

.book-logo {
background: $color-primary !important;
padding: 20px 15px 10px !important;
border-bottom: none !important;
border-top: none !important;
};

.book-logo img {
                  width: 100%;
                  max-height: 70px;
                  }

$sidebar-logo-height                : 70px;
            
#book-search-input {
background: $color-primary !important;
padding: 0px 15px 15px !important;
color: #404040 !important;
font-size: 14px !important;
border-bottom: none !important;
};

#book-search-input input {
outline: none !important;
background: white !important;
padding: 10px 15px !important;
border-radius: 20px !important;
border: none !important;
};



//.book-search-input {
//background: #0055b9 !important;
//};

.image-wrapper {
max-width: 50%;
margin-left: auto;
margin-right: auto;
};

.markdown-section .glossary-term {
text-decoration-style: dashed !important;
color: rgb(255, 81, 27) !important;
};


//table, th, td {
// border: 1px solid rgb(0, 185, 180);
//}


$table-tr-map                       : (
                                        background-color: white,
                                        border-top: 1px solid #e8e8e8
                                    );
// Styling for even-numbered rows
$table-tr-2-map                     : ( background-color: #fafafa);

// Styling for TD elements
$table-td-map                       : ( 
                                        padding: 10px 15px,
                                        border-bottom: 1px solid #e8e8e8
                                    );

// Styling for TH elements
$table-th-map                       : map-merge( $table-td-map, ( font-weight: bold, 
                                        padding: 10px 15px,
                                        background-color: #e8e8e8,  
                                        text-align:left,  
                                        color: $color-text ) );


$blockquote-map                     : (
                                        border-left: none
                                    ) ;
                                    
$hr-map                             : (
                                        height: 3px,
                                        margin: $spacing-unit*3 0,
                                        background-color: #e5e5e5
                                    ) ;


//tr:nth-child(even){background-color: rgb(183, 255, 253);}

//tr:hover {background-color: rgb(5, 255, 249);}

//th {
// padding-top: 12px;
// padding-bottom: 12px;
// text-align: left;
// background-color: rgb(0, 185, 180);
// color: white;
//}



//.image-wrapper .about-openminted {
// text-align: center ;
// padding: 15px 0px;
//}

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";