@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/variables";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed|Lato"; 

// Put your variable overrides here
//$book-background: white;
//$page-background: white;
$color-blue-lighter: lighten( #0055b9, 20% );
//$sidebar-background: $color-blue-lighter;
$sidebar-background: #0055b9;
$sidebar-color: white;
$color-border: $color-blue-lighter;
$color-headings: #0055b9;
$color-primary: #0055b9;

$font-family-headings: Lato, 'Open Sans';
$font-family-base: 'Open Sans';
$font-size-base: 14px;

$navigation-show : false;


$heading-map : (
border-bottom: 1px solid $color-primary,
font-family: $font-family-headings,
color: $color-headings,
margin-top: 60px
);

//.book-summary {
// color: white !important;
// font-family: $font-family-headings !important;
// };

$search-input-wrapper-map           : ( 
                                        background: $sidebar-background,
                                        border-bottom: 1px solid $color-border,
                                        color: $sidebar-color
);

$sidebar-header-map : (
color: $sidebar-color,
text-transform: uppercase,
font-family: $font-family-headings
);

$sidebar-header-selected-map : ( color: $sidebar-color);

$sidebar-link-map : (
 color: $sidebar-color,
 font-family: $font-family-base
 );

$sidebar-link-hover-map : (
 color: $sidebar-color,
 text-decoration: none
);

.page-inner {
max-width: 1000px !important;
margin: 0px 40px !important;
};

.comments-section {
text-align: justify;
};

.book-logo {
background: $sidebar-background !important;
};

//.book-search-input {
//background: #0055b9 !important;
//};

.image-wrapper {
max-width: 50%;
margin-left: auto;
margin-right: auto;
};

.markdown-section .glossary-term {
text-decoration-style: dashed !important;
color: rgb(255, 81, 27) !important;
};


//table, th, td {
// border: 1px solid rgb(0, 185, 180);
//}


$table-tr-map                       : (
                                        background-color: white,
                                        border-top: 1px solid #e8e8e8
                                    );
// Styling for even-numbered rows
$table-tr-2-map                     : ( background-color: #fafafa);

// Styling for TD elements
$table-td-map                       : ( 
                                        
                                        padding: $spacing-unit/2 $spacing-unit,
                                        border: 1px solid #e8e8e8
                                    );

// Styling for TH elements
$table-th-map                       : map-merge( $table-td-map, ( font-weight: bold, 
                                        background-color: #e8e8e8,
                                        color: $sidebar-color) );


//tr:nth-child(even){background-color: rgb(183, 255, 253);}

//tr:hover {background-color: rgb(5, 255, 249);}

//th {
// padding-top: 12px;
// padding-bottom: 12px;
// text-align: left;
// background-color: rgb(0, 185, 180);
// color: white;
//}



//.image-wrapper .about-openminted {
// text-align: center ;
// padding: 15px 0px;
//}

@import "../node_modules/gitbook-plugin-theme-gestalt/src/scss/all";